[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
  border-color: #2563eb;
}

#SideMenu .router-link-exact-active,
#SideMenu .router-link-active {
  @apply bg-slate-100  border-b-[3px] border-solid border-black/[0.08] text-primary relative after:w-[20px] after:h-[80px] after:bg-menu-active 
  after:bg-no-repeat after:bg-cover after:absolute after:top-0 after:bottom-0 after:right-0 after:my-auto after:-mr-[27px] after:animate-[0.4s_ease-in-out_0.1s_active-side-menu-chevron] after:animate-fill-mode-forwards;
}

/* header logo */
* > .-intro-x:nth-child(1) {
  z-index: 49;
  opacity: 0;
  position: relative;
  transform: translate(-50px);
  animation: 0.4s intro-x-animation ease-in-out 0.33333s;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

/* header 麵包屑 */
* > .-intro-x:nth-child(2) {
  z-index: 48;
  opacity: 0;
  position: relative;
  transform: translate(-50px);
  animation: 0.4s intro-x-animation ease-in-out 0.33333s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

* > .intro-x:nth-child(1) {
  z-index: 49;
  opacity: 0;
  position: relative;
  transform: translate(50px);
  animation: 0.4s intro-x-animation ease-in-out 0.33333s;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

/* header input */
* > .intro-x:nth-child(3) {
  z-index: 47;
  opacity: 0;
  position: relative;
  transform: translate(50px);
  animation: 0.4s intro-x-animation ease-in-out 0.33333s;
  animation-fill-mode: forwards;
  animation-delay: calc(3 * 0.1s);
}

/* header 小鈴鐺通知 */
* > .intro-x:nth-child(4) {
  z-index: 46;
  opacity: 0;
  position: relative;
  transform: translate(50px);
  animation: 0.4s intro-x-animation ease-in-out 0.33333s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}

@keyframes intro-menu {
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes intro-x-animation {
  to {
    opacity: 1;
    transform: translate(0);
  }
}
